.container {
  width: 100%;
  height: 100%;

  background: white;
}

.table-header {
  background: rgb(235, 235, 238);
  padding-left: 24px;
  padding-right: 24px;

  .title {
    font-weight: lighter;
    font-size: 18px;
  }
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.paginator {
  left: 0;
  position: sticky;
}

