<form (ngSubmit)="save()"
      [formGroup]="form">
  <div fxLayout="row"
       fxLayoutAlign="space-between center"
       mat-dialog-title>
    <h2>
      Add a new friend!
    </h2>
    <button mat-dialog-close
            mat-icon-button
            type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <mat-dialog-content fxLayout="column">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input cdkFocusInitial
             formControlName="name"
             matInput
             required>
      <mat-error *ngIf="form.controls.name.touched && form.controls.name.invalid">
        Name is required!
      </mat-error>
    </mat-form-field>
    <div fxLayout="row">
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input formControlName="age"
               matInput
               required
               type="number">
        <mat-error *ngIf="form.controls.age.touched && form.controls.age.invalid">
          Age is required!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Weight</mat-label>
        <input formControlName="weight"
               matInput
               required
               type="number">
        <mat-error *ngIf="form.controls.weight.touched && form.controls.weight.invalid">
          Weight is required!
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Friends</mat-label>
      <mat-select formControlName="friends"
                  multiple>
        <mat-option *ngFor="let friend of friends$| async"
                    [value]="friend">
          {{friend.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button
            mat-dialog-close
            type="button">
      Cancel
    </button>
    <button [disabled]="form.invalid"
            color="primary"
            mat-button
            type="submit">
      Add Friend
    </button>
  </mat-dialog-actions>

</form>
